PROJECT_NAME=algia-cabinet
SITE_NAME=cabinet.local
HTTP_PORT=8080
ALGIA_CABINET_IMAGE=algiadata/algia-cabinet:latest
ADMIN_PASSWORD=admin
DB_ROOT_PASSWORD=admin
DB_PASSWORD=admin
MARIADB_VERSION=10.6
